name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt install libasound2-dev
      - name: Check build status
        run: cargo check --verbose
      - name: Check test cases
        run: cargo test
      - name: Check linter
        run: cargo clippy -- -Dwarnings