name: Check test cases and lints

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt install libasound2-dev
          cargo install cargo-audit
      - name: Check build status
        run: cargo build --verbose
      - name: Check test cases
        run: cargo test --verbose
      - name: Check linter
        run: cargo clippy --verbose -- -Dwarnings
      - name: Audit dependencies
        run: cargo audit